<!DOCTYPE html>
<html lang="en-US">
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/directive.js"></script>
	<script src="js/factories.js"></script>
</head>	
<body ng-app="myApp">
	<div ng-controller="theader">
	<div class="top-header" ng-click="initHead()">
		<div class="anim" >
			<div class="bar-1"></div>
			<div class="bar-2"></div>
			<div class="bar-3"></div>
		</div>
		<span class="logo">
			Geet
		</span>
	</div>
	</div>
	<div class="sidebar">
		<ul class="sidemenu" ng-controller="sidemenucontroller">
			<li ng-click="logg()"><a href="#home">Home</a></li>
			<li ng-click="logg()"><a href="#contact">Contact</a></li>
			<li ng-click="logg()"><a href="#linkA">Link A</a></li>
			<li ng-click="logg()"><a href="#anotherLink">Another Link</a></li>
			<li ng-click="logg()"><a href="#terminal">Terminal</a></li>
		</ul>
	</div>
	<div class="bg" ng-click="loseFocus($event)">
		<div class="ng-view"></div>
	</div>
</body>
</html>