<div id="scr" class="contain" my-enter="processInput()" ng-click="getFocus($event)">
	<div class="titlebar">
	<div class="buttons">
		<span class="close">x</span>
		<span class="minimize">-</span>
		<span class="maximize">+</span>
	</div>
			geet@w4rm4ch1n3
	</div>
	<div id="scr" class="window">
	<p class="white-preserve">
  ________               __                  
 /  _____/  ____   _____/  |_                
/   \  ____/ __ \_/ __ \   __\               
\    \_\  \  ___/\  ___/|  |                 
 \______  /\___  >\___  >__|                 
        \/     \/     \/                     
___________      .__                 .___.__ 
\__    ___/______|__|__  __ ____   __| _/|__|
  |    |  \_  __ \  \  \/ // __ \ / __ | |  |
  |    |   |  | \/  |\   /\  ___// /_/ | |  |
  |____|   |__|  |__| \_/  \___  >____ | |__|
                               \/     \/     
	</p>	
	<p class="mv-0">
		Hey there!<br>Welcome to my terminal app! Type 'help' to get a list of all the supported commands.<br>
		PS: If you lose focus, click on the blinking cursor's row.<br><br>
		</p>
		<div ng-controller="terminalController">
		<div id="appendhere"></div>
		<div id="output"></div>
			<div class="currline" style="position: relative;">
				<span class="console-user">geet</span><span>@</span><span class="red">w4rm4chn13:</span>
				<div class="iparea" style="display: inline-block;">
					<input type="text" id="focushere" ng-model="userInput" my-enter="processInput()" autofocus="true" style="opacity: 0;position: absolute;width: 100%;left: 0;" />
					<div style="display: inline-block;">
						<span ng-bind="userInput"></span>
						<span class="blink">&nbsp;</span>
					</div>					
			</div>			
		</div>
		</div>
	</div>
</div>